<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getRenderer>
        <processor
          patch:instead="processor[@type='type=Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"
          type="Paragon.Website.Sc.Mvc.Pipelines.GetViewRenderer, Paragon.Website.Sc.Mvc" />
      </mvc.getRenderer>
    <pipelines>
  <sitecore>
</configuration>